/*** mixins ***/
@mixin cssTransition($value) {
  -webkit-transition: $value;
  -moz-transition: $value;
  -ms-transition: $value;
  -o-transition: $value;
  transition: $value;
}

@mixin cssBorderRadius($value) {
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
  -ms-border-radius: $value;
  -o-border-radius: $value;
  border-radius: $value;
}

@mixin cssTransform($value) {
  -webkit-transform: $value;
  -moz-transform: $value;
  -ms-transform: $value;
  -o-transform: $value;
  transform: $value;
}

@mixin cssBoxShadow($value) {
  -webkit-box-shadow: $value;
  -moz-box-shadow: $value;
  -ms-box-shadow: $value;
  -o-box-shadow: $value;
  box-shadow: $value;
}

@mixin cssTextOverflow($value) {
  -webkit-text-overflow: $value;
  -moz-text-overflow: $value;
  -ms-text-overflow: $value;
  -o-text-overflow: $value;
  text-overflow: $value;
}

@mixin cssLineClamp($value) {
  -webkit-line-clamp: $value;
  -moz-line-clamp: $value;
  -ms-line-clamp: $value;
  -o-line-clamp: $value;
  line-clamp: $value;
}
